In [ ]:
import sqlite3

create_query="CREATE TABLE Books ( BookID INT PRIMARY KEY, Title VARCHAR(255) NOT NULL, Author VARCHAR(100) NOT NULL, PublicationYear INT,ISBN VARCHAR(20) UNIQUE,Price DECIMAL(10, 2));"
with sqlite3.connect('catalog.db') as connection:
 connection.execute(create_query)

# create tables in 
CREATE TABLE Books (
    BookID INT PRIMARY KEY,
    Title VARCHAR(255) NOT NULL,
    Author VARCHAR(100) NOT NULL,
    PublicationYear INT,
    ISBN VARCHAR(20) UNIQUE,
    Price DECIMAL(10, 2)
);

INSERT INTO Books (Title, Author, PublicationYear, ISBN, Price)
VALUES ('Dune', 'Frank Herbert', 1965, '978-0441172719', 14.50);

In [6]:
import sqlite3
title = input("enter the title:")
author = input("enter the autor:")
publication =input("enter the publication year:")
isbn = input("enter the isbn")
insert_query = f"INSERT INTO Books (Title, Author, PublicationYear, ISBN, Price) VALUES ('{title}', '{author}', '{publication}', '978-0441172719', 14.50);"
print(insert_query)
with sqlite3.connect('catalog.db') as connection:
 connection.execute(insert_query)

INSERT INTO Books (Title, Author, PublicationYear, ISBN, Price) VALUES ('wealth', 'yagna', '2025', '978-0441172719', 14.50);

#  select from books db
SELECT *
FROM Books where category=''

query = "SELECT BookID, Title, Author, Price FROM Books WHERE PublicationYear >= 1950 ORDER BY Author"

In [18]:
import sqlite3

name =input("enter name of the book:")
select_query = f"select * from books where Title = '{name}';"


print(select_query)
with sqlite3.connect('catalog.db') as connection:
 cru =connection.cursor()
 cru.execute(str(select_query)) 
 rows = cru.fetchall()
 for row in rows:
  print ("--- Books ---",row)

select * from books where Title = 'wealth';
--- Books --- (None, 'wealth', 'yagna', 2025, '978-0441172719', 14.5)